# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries by Data Scientists
+ List Data Science Tools
+ Show a few examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

|Data Science Tools|
|------------------|
|Anaconda|
|Jupyter Notebooks|
|Pycharm|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to multiply then add integers.

In [5]:
 (3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [7]:
200/60

3.3333333333333335

## Author
Gert Makhafola